@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


.shape-font {
  font-family: 'Miama', sans-serif;
  font-size: 5rem;
  font-weight: 400;
}
  .inter-font {
    font-family: "Inter", sans-serif;
  }  
 /* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬  */


/* Main Section 
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
*{
    margin: 0;
    padding: 0;
}


/* Shared CSS 
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
.display-flex {
    display: flex;
}

.btn-primary {
  padding: 15px 35px;
  border-radius: 2.5rem;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn-primary:active {
  transform: scale(0.95); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.primary-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}

.primary-title {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  color: rgb(255, 255, 255);
}



/* Header Section CSS 
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
header {
  /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 600%); */
  background: linear-gradient(0.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 700%);

    border: 0.1px solid rgb(0, 0, 0);
    height: auto;
    max-width: 100%;
  }

  /* Nav-bar CSS [ Header ] */
  .nav-bar {
    max-width: 80%;
    margin: 35px auto;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    width: 27rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
  }
  .nav-list li {
    list-style: none;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
  }
  .nav-title {
    color: rgb(230, 83, 60);
    font-size: 2.35rem;
    font-style: italic;
    font-weight: 800;
  }
  .Home-btn {
    padding: 0.625rem 1rem;
    border-radius: 2.5rem;
    background: rgb(230, 83, 60);
  }
  .nav-icon {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  /* .nav-icon {
    display: block;
  }
  */
  /* ▬▬▬▬▬▬▬▬▬▬ Nav-bar section ends ▬▬▬▬▬▬▬▬▬▬▬▬▬ */



  /* Banner CSS [Header] */
.banner {
    max-width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .banner-container {
    width: 33rem;
    height: 24rem;
  }
  .banner-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
.banner-description {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}
.banner-download-btn {
  padding: 15px 35px;
  border-radius: 2.5rem;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 0.75rem;
  cursor: pointer;
}


  /* banner-image */
  .banner-photo-container {
    position: relative;
  }

  .banner-photo {
    max-width: 20.5rem;
    margin-top: 1.8rem;
  }

     /* Banner Pop-up */
  .banner-popups {
    width: 10.5rem;
    height: 5.5rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    align-items: center;
    justify-content: center;
  }

  .tutorial-popup {
    position: absolute;
    top: 400px;
    right: 250px;
  }

  .workout-popup {
    position: absolute;
    top: 130px;
    left: 205px;
  }

.popup-circle {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    background: rgb(230, 83, 60);
  }

  .popup-heading {
    color: rgb(250, 250, 249);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: .95rem;
  }
 
.popup-description {
    color: rgba(239, 237, 232, 0.65);
    font-size: .75rem;
    font-weight: 400;
    margin-top: -.75rem;
  }

  .content-tutorial {
    margin-left: 0.6rem;
  }

  .workout-popup {
    flex-direction: column;
    align-items:start;
    padding-left: 20px;
  }

  .heading-350 {
    font-size: 1.35rem;
  }


  /* ▬▬▬▬▬▬▬▬ For Small Device [Head section] ▬▬▬▬▬▬▬▬▬▬▬ */


@media screen and (max-width: 576px) {

  .nav-list {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .banner {
    flex-direction: column;
    /* border: 2px solid rgb(99, 139, 114); */
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-container {
    max-width: 100%;
    margin: 0 auto;
    /* border: 2px solid white; */
  }
  .btn-primary {
    padding: 15px 20px;
    font-size: 1rem;
  }
  .banner-download-btn {
    padding: 15px 20px;
    font-size: 1rem; 
  }

  /* Banner Pop-up */
  .banner-popups {
    width: 10rem;
    height: 5.3rem;
  }

  .tutorial-popup {
    position: absolute;
    top: 300px;
    right: 200px;
  }
  .workout-popup {
    position: absolute;
    top: 65px;
    left: 180px;
  }

  .popup-heading {
    font-size: 1.9rem;
  }
.popup-description {
    font-size: .7rem;
  }
  .heading-350 {
    font-size: 1.35rem;
  }
}
   /* ▬▬▬▬▬▬▬▬▬▬▬ Head section ends  ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */



   /* ▬▬▬▬▬▬▬▬▬▬▬ Habit section starts  ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

   main {
    background: rgb(0, 0, 0);
   }

  .habit {
    border: .1px solid black;
    height: auto;
    margin: 0 auto;
  }
   
   .habit-title {
  margin: 3.5rem auto;
  flex-direction: column;
  align-items: center;
} 
 
.habit-all-cards {
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
  gap: 1.25rem;
}

.habit-title-heading {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}

#habit-title-header {
  margin-top: 1rem;
}
.habit-title-description {
  margin-top: .9rem;
}

.habit-card {
  width: 13rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.habit-image-container {
  margin: 0 auto;

}
.habit-image-container img {
  border-radius: 50%;
  width: 8.6rem;
  height: 8.6rem;
}

.habit-card-title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;

}

.habit-card-description {
  text-align: center;

}

/* Habit section for small device  */

@media screen and (max-width: 576px) {

  main {
    /* border: 1px solid green; */
    max-width: 100%;
    
  }
.habit-title {
  margin-top: 10px;  
}
.habit-all-cards {
  /* border: 1px solid green; */
  flex-direction: column;
  margin: auto;
  gap: 1.8rem;
  padding-top: 2.3rem;
}

#habit-title-header{
  font-size: 1.9rem;
}
.habit-title-description {
  /* border: 1px solid green; */
  max-width: 90%;
  margin: 0 auto;
  padding-top: 15px;
}

}
   /* ▬▬▬▬▬▬▬▬▬▬▬ Habit section ends   ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */





   /* ▬▬▬▬▬▬▬▬▬▬▬ Run section Starts   ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

/* Run Section */
.run-extra-mile-section {
  max-width: 85%;
  height: auto;
  margin: 0 auto;
  background: rgb(34, 34, 34);
  align-items: center;
  justify-content: space-between;
  border-radius: 1.1rem;
}

.run-details-container {
  max-width: 25rem;
  margin-left: 2.5rem;

}

.run-section-title {
  text-align: left;  
}

.run-section-description {
  padding-top: .75rem;
  padding-bottom: 20px;
  max-width: 360px;
}

.run-section-button {
  width: 200px;
}

.run-section-image {
  width: 17rem;
  height: 14.5rem;
  margin: 1rem;
  margin-right: 2.5rem;
  border-radius: 1.1rem;
}




/* For small device  */
@media screen and (max-width: 576px) {

.run-extra-mile-section {
  flex-direction: column;
  width: 100%;
  height: auto;

}

.run-section-title {
  font-size: 1.8rem;
  padding-top: 2rem;
}

.run-section-description {
  margin-right: 2rem;
  text-align: justify;
  
}

.run-section-button-container {
  display: flex;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}
.run-section-button {
  max-width: 280px;
  margin: 0 auto;
}

.run-section-image {
  width: 77%;
  height: auto;
  margin: 0 auto;
  border-radius: 18px;

}
.run-section-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

}
} 
   /* ▬▬▬▬▬▬▬▬▬ Run section Ends   ▬▬▬▬▬▬▬▬ */



   /* ▬▬▬▬▬▬▬▬  BMI Calculator Section ▬▬▬▬▬▬▬▬▬ */


   /* BMI calculator head section  */
.bmi-calculator-head-section {
  /* border: 1px solid greenyellow; */
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.bmi-calculator-head-section-title {
  text-align: left;
  margin-bottom: .8rem;
}



/* BMI Calculator main section   */
.bmi-main-section {
  max-width: 100%;
  height: 22rem;
  background: rgb(34, 34, 34);
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 3.5rem;
}

/* bmi calculator chart  */
.bmi-calculator-table-chart-heading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

table tr td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* border-collapse: collapse; */
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7rem;
  font-weight: 400;
  padding: 10px 18px;
}
table {
  border-collapse: collapse;
}
.table-data-bold {
  color: rgb(255, 255, 255);
  font-size: .95rem;
  font-weight: 500;
}

/* Calculate BMI Section    */
.bmi-calculator-section {
  max-width: 32rem;
  height: auto;
}

.bmi-calculator-section-title {
  font-size: 1.5rem;
  margin-bottom: .9rem;
  text-align: left;
  padding-left: 5px;
}

.bmi-calculator-section-description {
  padding-left: 5px;
  padding-right: 40px;
  line-height: 20px;
  padding-bottom: 1.5rem;
}

   /* form section  */

   .bmi-forms {
    /* border: 1px solid yellow; */
    /* width: fit-content; */
    max-width: 475px;
  }
  
.form-input,  
.form-select {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  width: 14rem;
  /* width: 224px; */
  /* width: 44%; */
  width: calc((100% - 30px) / 2);

  height: 2.1rem;
  border: none;
  margin: 5px;
}

.bmi-forms select {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 200;
  padding: 5px;
}

#large-input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  width: calc((100% - 13px) );
  height: 33px;
  border: none;
  margin: 5px;
  
}
input::placeholder {
  padding-left: 10px;
}

.bmi-form-btn {
  width: 180px;
  height: 45px;
  margin-top: 1.1rem;
  margin-left: 5px;
}


/* For small device  */

@media screen and (max-width: 576px) {

  .bmi-calculator-head-section {
    max-width: 300px;
    margin: 0;
    margin-left: 1.75rem;
    margin-bottom: 1.75rem;

  }

  .bmi-calculator-head-section {
    margin-top: 80px;
    width: 100%;
    height: 100%;
  }
  
  .bmi-calculator-head-section-title {
    font-size: 2.2rem;
  }
  
.bmi-main-section {

  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

.bmi-calculator-table-chart{
  max-width: fit-content;
  margin-left: 1.75rem;
}

.bmi-calculator-section {
  width: 90%;
  margin-top: 40px;
  margin-left: 1.75rem;
}

.bmi-calculator-table-chart-heading, 
.bmi-calculator-section-title
{
 font-size: 1.2rem;
}
.bmi-form-btn {
  margin-bottom: 2.5rem;
}

}



   /* ▬▬▬▬▬▬▬▬ Meet our team section  ▬▬▬▬▬▬▬▬▬▬▬▬ */

.meet-our-team-section {
  /* border: 1px solid green; */
  width: 75%;
  margin: 0 auto;
  padding: 4rem 0;
}

.team-section-head {
  /* border: 1px solid green; */
  max-width: 50%;
  min-height: 6.5rem;
  margin: 0 auto;
  /* margin-bottom: 2rem; */
}
.team-section-head-description {
  text-align: center;
  margin-top: .75rem;
}

.team-section-images-container {
  /* border: 1px solid green; */
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
}

.meet-team-section-common-image {
  /* border: 1px solid pink; */
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  width: calc((100% - 48px) / 3);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  margin: 12px 6px 6px 6px;
  border-radius: 1rem;
}

.image-1-1 {
  background-image: url(./images/trainer1.png);
  /* background: rgba(0, 0, 0, 0.2),url(./images/trainer1.png); */
  margin: 12px 6px 6px 12px;
}
.image-1-2 {
  background-image: url(./images/trainer2.png);
  margin: 12px 6px 6px 6px;
}
.image-1-3 {
  background-image: url(./images/trainer3.png);
  margin: 12px 12px 6px 6px;
}
.image-2-1 {
  background-image: url(./images/trainer4.png);
  margin: 6px 6px 12px 12px;
  
}
.image-2-2 {
  background-image: url(./images/trainer5.png);
  margin: 6px 6px 12px 6px;
}
.image-2-3 {
  background-image: url(./images/trainer6.png);
  margin: 6px 12px 12px 6px;
}

.designation-container {
  /* border: 1px solid pink; */
  max-width: 90%;
  padding-top: 10.9rem;
}
.designation-title {
  /* border: 1px solid pink; */
  color: white;
  font-weight: 800;
  font-size: 1rem;
  margin-left: 10px;
}
.designation-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85rem;
  font-weight: 600;
  margin: 10px;
}




/* responsive portion  */
@media screen and (max-width: 576px) {

.meet-our-team-section {
  /* display: none; */
  /* border: 1px solid yellow; */
  width: 92%;
  height: 100%;
}

.team-section-head {
  /* border: 1px solid green; */
  max-width: 60%;
  min-height: 6.5rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.team-section-head-title {
  font-size: 2rem;
}
.team-section-head-description {
  font-size: .73rem;
}

.image-flex {
  flex-direction: column;
  /* border: 1px solid green; */
}
.image-1-1,
.image-1-2,
.image-1-3 {
  /* border: 1px solid yellow; */
  width: 88%;
  margin-left: 6%;
  height: 20rem;
  margin-top: 35px;

}
.image-2-1 ,
.image-2-2 ,
.image-2-3 {
  width: 88%;
  margin-left: 6%;
  height: 20rem;
  margin-top: 35px;
}

.image-2-3 {
  margin-bottom: 35px;
}

.designation-container {
  /* border: 1px solid pink; */
  padding-top: 16rem;
}

}


   /* ▬▬▬▬▬▬▬▬ footer section  ▬▬▬▬▬▬▬▬▬▬▬▬ */

footer {
  max-width: 100%;
  background-color: #1A1A1A;
  border: 1px solid #1A1A1A; 
  /* border: 1px solid greenyellow; */
} 
.footer-container {
  /* border: 1px solid green; */
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 5.5rem;
  padding-bottom: 4.5rem;
}

.sub-container-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 8px 0;
}

.sub-container-left {
  /* border: 1px solid beige; */
  width: 40%;
}
.sub-container-left-heading {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.sub-container-left-description {
  font-size: 0.8rem;
  margin: 0;
}
.sub-container-heading {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 700;
}

/* copyright section  */
.horizontal-line {
  width: 75%;
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.divider-line {
  width: 100%;
  margin: 0 auto;
  height: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}


.copyright-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
  font-weight: 400;
  text-align: center;
  padding: 1.5rem 0;
}


/* For Small Device */
@media screen and (max-width: 576px) {

  footer {
    border: 1px wheat ;
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    margin: 0;
    padding-left: 2.5rem;
  }

  .sub-container-left {
    width: 80%;
    height: fit-content;
  }

  .sub-container-left-heading {
    margin-top: 2.5rem;
  }

  .sub-container-middle {
    width: 60%;
  }
  .sub-container-middle h4, 
  .sub-container-right h4 {
    padding-bottom: 1.2rem;
    padding-top: 2.5rem;
  }

  .sub-container-description {
    margin: 10px 0;

  }


}


   /* ▬▬▬▬▬▬▬▬ extra  section  ▬▬▬▬▬▬▬▬▬▬▬▬ */

   
  .pricing-card-section {
    /* border: 1px solid gold ; */
    max-width: 100%;
    height: fit-content ;
    background-color: #1A1A1A;
  }

  .pricing-card-head {
    /* border: 1px solid green; */
    width: fit-content;
    margin: 0 auto;
    padding: 3rem;
  }

.card-details {
  /* border: 1px solid gold ; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .price-card-container {
    /* border: 1px solid gold; */
    display: flex;
    justify-content: center;
    gap: 3%;
    padding: 0 10%;

  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between ;
    /* border: 1px solid green; */
    /* background-color: #1A1A1A; */
    background-color: #7f7f7f48;
    border-radius: 20px;
    width: calc(100% - 26%)  ;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform 0.3s ease; 
    margin-bottom: 4rem;
  }

  .cards-listing {
    padding-left: 20px ;
}

.card-title {
  /* border: 1px solid greenyellow; */
  font-size: 1.5rem;
  width: fit-content;
  color: white;
  font-weight: 900;
  padding: 1.7rem 0;
  
}

.card-price {
  font-size: 2.25rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding-top: 1.25rem ;
  padding-bottom: .5rem;
}

.card-price-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: .85rem;
  font-weight: 400;
  padding-bottom: 2.5rem;
}

.cards-listing {
  /* border: 1px solid green; */
  width: 88%;
}

.cards-listing li {
  color: rgba(255, 255, 255, 0.5);
  font-size: .85rem;
  font-weight: 400;
  padding: 8px;
}

.card-button {
  margin-bottom: 2rem;
}

.card:hover {
  transform: scale(1.1); 
}





/* For Small Device */
@media screen and (max-width: 576px) {
    
  .price-card-container {
    flex-direction: column;
  }

  .price-card-container {
    /* border: 1px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .card {
    width: 90%;
    /* height: 550px; */
  }

}









