@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.great-vibes-regular-font {
    font-family: "Great Vibes", cursive;
  }
  .inter-font {
    font-family: "Inter", sans-serif;
  }  
 /* ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬  */


/* Main Section 
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
*{
    margin: 0;
    padding: 0;
}




/* Shared CSS 
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
.display-flex {
    display: flex;
}

.btn-primary {
  padding: 15px 35px;
  border-radius: 2.5rem;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  border: none;
}

.primary-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
}

.primary-title {
  font-size: 2.4rem;
  font-weight: 900;
  text-align: center;
  color: rgb(255, 255, 255);
}



/* Header Section CSS 
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
header {
  /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 600%); */
  background: linear-gradient(0.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 700%);

    border: 0.1px solid rgb(0, 0, 0);
    height: auto;
    max-width: 100%;
  }

  /* Nav-bar CSS [ Header ] */
  .nav-bar {
    max-width: 80%;
    margin: 35px auto;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    width: 27rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
  }
  .nav-list li {
    list-style: none;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
  }
  .nav-title {
    color: rgb(230, 83, 60);
    font-size: 2.35rem;
    font-style: italic;
    font-weight: 800;
  }
  .Home-btn {
    padding: 0.625rem 1rem;
    border-radius: 2.5rem;
    background: rgb(230, 83, 60);
  }
  .nav-icon {
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  /* .nav-icon {
    display: block;
  }
  */
  /* ▬▬▬▬▬▬▬▬▬▬ Nav-bar section ends ▬▬▬▬▬▬▬▬▬▬▬▬▬ */



  /* Banner CSS [Header] */
.banner {
    max-width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .banner-container {
    width: 33rem;
    height: 24rem;
  }
  .banner-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
.banner-description {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}
.banner-download-btn {
  padding: 15px 35px;
  border-radius: 2.5rem;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 0.75rem;
}


  /* banner-image */
  .banner-photo-container {
    position: relative;
  }

  .banner-photo {
    max-width: 20.5rem;
    margin-top: 1.8rem;
  }

     /* Banner Pop-up */
  .banner-popups {
    width: 10.5rem;
    height: 5.5rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    align-items: center;
    justify-content: center;
  }

  .tutorial-popup {
    position: absolute;
    top: 400px;
    right: 250px;
  }

  .workout-popup {
    position: absolute;
    top: 130px;
    left: 205px;
  }

.popup-circle {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    background: rgb(230, 83, 60);
  }

  .popup-heading {
    color: rgb(250, 250, 249);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: .95rem;
  }
 
.popup-description {
    color: rgba(239, 237, 232, 0.65);
    font-size: .75rem;
    font-weight: 400;
    margin-top: -.75rem;
  }

  .content-tutorial {
    margin-left: 0.6rem;
  }

  .workout-popup {
    flex-direction: column;
    align-items:start;
    padding-left: 20px;
  }

  .heading-350 {
    font-size: 1.35rem;
  }


  /* ▬▬▬▬▬▬▬▬ For Small Device [Head section] ▬▬▬▬▬▬▬▬▬▬▬ */


@media screen and (max-width: 576px) {

  .nav-list {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .banner {
    flex-direction: column;
    /* border: 2px solid rgb(99, 139, 114); */
  }
  .banner-title {
    font-size: 3rem;
  }
  .banner-container {
    max-width: 100%;
    margin: 0 auto;
    /* border: 2px solid white; */
  }
  .btn-primary {
    padding: 15px 20px;
    font-size: 1rem;
  }
  .banner-download-btn {
    padding: 15px 20px;
    font-size: 1rem; 
  }

  /* Banner Pop-up */
  .banner-popups {
    width: 10rem;
    height: 5.3rem;
  }

  .tutorial-popup {
    position: absolute;
    top: 300px;
    right: 200px;
  }
  .workout-popup {
    position: absolute;
    top: 65px;
    left: 180px;
  }

  .popup-heading {
    font-size: 1.9rem;
  }
.popup-description {
    font-size: .7rem;
  }
  .heading-350 {
    font-size: 1.35rem;
  }
}
   /* ▬▬▬▬▬▬▬▬▬▬▬ Head section ends  ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

   

   /* ▬▬▬▬▬▬▬▬▬▬▬ Habit section starts  ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

   main {
    background: rgb(0, 0, 0);
   }

  .habit {
    border: .1px solid black;
    height: auto;
    margin: 0 auto;
  }
   
   .habit-title {
  margin: 3.5rem auto;
  flex-direction: column;
  align-items: center;
} 
 
.habit-all-cards {
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
  gap: 1.25rem;
}

.habit-title-heading {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}

#habit-title-header {
  margin-top: 1rem;
}
.habit-title-description {
  margin-top: .9rem;
}

.habit-card {
  width: 13rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.habit-image-container {
  margin: 0 auto;

}
.habit-image-container img {
  border-radius: 50%;
  width: 8.6rem;
  height: 8.6rem;
}

.habit-card-title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;

}

.habit-card-description {
  text-align: center;

}

/* Habit section for small device  */

@media screen and (max-width: 576px) {


  main {
    /* border: 1px solid green; */
    max-width: 100%;
    
  }
.habit-title {
  margin-top: 10px;  
}
.habit-all-cards {
  /* border: 1px solid green; */
  flex-direction: column;
  margin: auto;
  gap: 1.8rem;
  padding-top: 2.3rem;
}

#habit-title-header{
  font-size: 1.9rem;
}
.habit-title-description {
  /* border: 1px solid green; */
  max-width: 90%;
  margin: 0 auto;
  padding-top: 15px;
}

}

   /* ▬▬▬▬▬▬▬▬▬▬▬ Habit section ends   ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

















 


